<h1>REGISTER PAGE</h1>

<form method="post" action="/auth/register">
  <label>Username: <input type="text" name="username" /> </label>
  <label>Password: <input type="password" name="password" /> </label>
  <label>Repass: <input type="password" name="repass" /> </label>
  <button>Register</button>
</form>