html{
  scroll-behavior: smooth;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  overflow: auto;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/cover.jpg);
    background-position: center;
    background-size:cover;
    position: relative;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    display: inline-block;
}
.nav-links ul li a{
  list-style: none;
  display: inline-block;
  position: relative;
  justify-content: space-between;
  background: #ce1111e0;
  border-radius: 15px;
  padding: 5px 15px;
  margin: 10px;
  box-sizing: content-box;
  transition: 0.5s;
  
}
ul {
  list-style-type: none;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-shadow: 2px 2px #000000;
    font-size: 25px;
    
}

.container{
  width: 100%;
  height: 100%;
}

.nav-links ul li a:hover {
  background-color: #f0ff21e0;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 80%;
    left: 3%;
    text-align: center;

}
.text-box h1{
    font-size: 50px;
}
.text-box{
    margin: -30px 20px 20px;
    font-size: 20px;
    color: rgb(3, 0, 0);
}
.hero-btn{
    display: inline-block;
    text-decoration: none;;
    color: rgb(14, 8, 8);
    border: 1px solid rgb(2, 1, 1);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    margin-top: 25px;
    border-radius: 25px;
    transition: 0.5s;
}

.hero-btn:hover{
  -webkit-box-shadow: -1px 1px 40px 12px rgba(235,148,33,1);
  -moz-box-shadow: -1px 1px 40px 12px rgba(235,148,33,1);
  box-shadow: -1px 1px 40px 12px rgba(235,148,33,1);
}

nav .fa{
    display: none;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}


@media(max-width: 700px){
    .text-box h1{
        font-size: 33px;
    }
    .nav-links ul li{
        display:block;
    }
    .nav-links ul li a{
      font-size: 24px;
  }
    nav .fa{
        display: block;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 5px;
    }
    nav img{
      width: 120px;
  }
}

@media(max-width: 361px){
  .text-box h1{
      font-size: 28px;
  }
  .nav-links ul li{
      display:block;
  }
  .nav-links ul li a{
    font-size: 20px;
}
  nav .fa{
      display: block;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
  }
  .nav-links ul{
      padding: 10px;
  }
  nav img{
    width: 100px;
}
}


/*----our-work*-----*/
.our-work{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.our-work h1{
  font-size: 50px;
}

.col{
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}



.info-colum{
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: space-between;
    background: #ce1111e0;
    border-radius: 10px;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    
}
.info-colum:hover{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(87,87,87,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(87,87,87,1);
  box-shadow: 10px 10px 5px 0px rgba(87,87,87,1);
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 16px 0;
}

.googlemap{
    width: 100%;
}

.location-map{
    max-width: 100%;
    max-height: 100%;
    background-image: url(img/contact.jpg);
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    position: relative;

    
}

@media(max-width: 700px){
    .col{
        flex-direction: column;
    }

}


/*----Contact form------*/

  
  #contact {
    padding-top: 100px;
    width: 100%;
    height: 100%;
  }
  
  .section-header {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 40px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
  }
  
  /* Left contact page */
  .form-horizontal {
    /*float: left;*/
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
  }
  
  .form-control, 
  textarea {
    max-width: 400px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px;
  }
  
  .send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
  }
  
  .alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
  }
  
  .send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
  }
  
  .alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
  }
  
  /* Begin Right Contact Page */
  .direct-contact-container {
    max-width: 400px;
  }

  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }

  /* Location, Phone, Email Section */
  .contact-list {
    list-style-type: none;
    margin-left: 50px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: rgb(255, 255, 255);
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: rgb(255, 255, 255);
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: rgb(255, 255, 255);
  }
  
  .social-media-list li {
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .contact-icon-finish{
    padding: 20px;
    font-size: 50px;
    width: 20px;
    text-decoration: none;
    margin: 5px 111px;
    color: blue;
  }

  .contact-icon{
    margin: 5px 22px;

  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }


  
  /* Begin Media Queries*/
  @media screen and (max-width: 850px) {
    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
      margin: 0 auto;
    }  
    
    .contact-icon-finish{
       margin: 0 auto;
    }

    .direct-contact-container {
      margin-top: 60px;
      max-width: 300px;
    }    
    .social-media-list li {
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
    .social-media-list li:after {
      width: 60px;
      height: 60px;
      line-height: 60px;
    }
  }
  
  @media screen and (max-width: 569px) {
  
    .direct-contact-container, .form-wrapper {
      float: none;
      margin: 0 auto;
    }  
    .form-control, textarea {
    
      margin: 0 auto;
    }
   
    .contact-icon-finish{
      margin: 0 auto;
   }
    
    .name, .email, textarea {
      width: 320px;
    } 
    
    .direct-contact-container {
      margin-top: 60px;
      max-width: 320px;
    }  
    .social-media-list {
      left: 0;
    }
    .social-media-list li {
      height: 55px;
      width: 55px;
      line-height: 55px;
      font-size: 2rem;
    }
    .social-media-list li:after {
      width: 55px;
      height: 55px;
      line-height: 55px;
    }
    
  }
  
  @media screen and (max-width: 410px) {
    .send-button {
      width: 99%;
    }

    .contact-icon-finish{
      margin: 0 auto;
   }
  }

