html {
font-family:Arial, Helvetica, sans-serif;
font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(212, 218, 212);
}

nav::after{
    content: "";
    display: table;
    clear: both;
}

#container{
    width: 980px;
    margin: 0 auto;
    background-color: white;
}

nav a {
    float: left;
    display: block;
    background-color: tomato;
    margin: 0 4px;
    padding: 4px 8px;
    text-decoration: none;
}

nav a:hover {
    background-color: greenyellow;
}

main {
    padding: 0 32px;
}

.info {
    font-style: italic;
}