<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>

    <div class="navigation">
        <nav>
            <img src="../static/images/logo.jpg">
            <ul>
                
                {{#if user}}
                <li><a href="/">Home</a></li>
                <li><a href="/blog/catalog">Blogs</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="/blog/create">Create Blog</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                {{else}}
                <li><a href="/">Home</a></li>
                <li><a href="/blog/catalog">Blogs</a></li>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/register">Register</a></li>
                {{/if}}

            </ul>
        </nav>
    </div>

    <main>
            {{{body}}}
    </main>

    <footer>Back-End 2022</footer>
</body>

</html>